.main {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  
.main__image {
    width: 100%;
    height: 100px;
    background-color: aqua;
    margin-bottom: 20px;
}

.main__avatar {
    width: 150px;
    height: 150px;
    background-color: black;
}

.main__personal {
    display: flex;
}

.main__data {
    margin-left: 20px;
}
.main__data span{
    font-size: 24px;
}

.main__list {
    list-style-type: none;
    padding: 0;
}

.main__form {
    margin-top: 50px;
}

.main__form fieldset {
    border: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.main__form legend {
    font-size: 24px;
}

.main__text {
    width: 100%;
    height: 200px;
}

.main__button {
    margin-top: 20px;
    align-self: flex-end;
    align-content: flex-end;
    align-items: flex-end;
}