html, body {
  height: 100%;
}
#root {
  height: 100%;
}
.app {
  display: grid;
  grid-template-columns: 10% 0.2fr 1fr 10%;
  grid-template-rows: 1fr 3fr 1fr;
  grid-gap: 20px;
  height: 100%;
  width: 100%;
}

.header {
  grid-column: 2/4;
  grid-row: 1/2;
  background-color: forestgreen;
}

.aside {
  grid-column: 2/3;
  grid-row: 2/4;
  background-color: forestgreen;
  display: flex;
  height: 100%;
}
.aside__nav {
  display: flex;
  flex-direction: column;  
  justify-content: flex-start;
  align-content: center;
  padding: 20px;
}
.aside__nav a {
  font-size: 28px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 5px;
}
.aside__nav a:last-child{
  margin-top: 35px;
}

.main {
  grid-column: 3/4;
  grid-row: 2/3;
}

.main__image {
  width: 100%;
  height: 100px;
  background-color: aqua;
  margin-bottom: 20px;
}

.main__avatar {
  width: 150px;
  height: 150px;
  background-color: black;
}

.main__personal {
  display: flex;
}

.main__data {
  margin-left: 20px;
}
.main__data span{
  font-size: 24px;
}

.main__list {
  list-style-type: none;
  padding: 0;
}

.main__form {
  margin-top: 50px;
}

.main__form fieldset {
  border: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.main__form legend {
  font-size: 24px;
}

.main__text {
  width: 100%;
  height: 200px;
}

.main__button {
  margin-top: 20px;
  align-self: flex-end;
  align-content: flex-end;
  align-items: flex-end;
}
.footer {
  grid-column: 3/4;
  grid-row: 3/4;
}